/* Styles */
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: whitesmoke;
  }
  
  .title {
      font-family: 'Poppins', sans-serif;
      font-size: 2.5em;
      text-align: center;
      padding-top: 1em;
      padding-bottom: 1em;
  }
  
  .container {
    width: 500px;
    margin: auto;
  }

  .naranja {
    color: #E43813;
}

  
  form {
    font-family: 'Poppins', sans-serif;
    padding: 50px;
    background: #E43813;
    color: #191919;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  form label,
  form input,
  form button {
    border: 0;
    margin-bottom: 3px;
    display: block;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
  }
  form input {
    height: 25px;
    line-height: 25px;
    background: whitesmoke;
    color: #191919;
    padding-top: 10px;
    padding: 0 6px;
    box-sizing: border-box;
  }
  
  form button {
    height: 30px;
    line-height: 30px;
    background: #191919;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 450;
    margin-top: 1.5rem;
    cursor: pointer;
    border-radius: 10px;
  }

  form button:hover {
    color: #E43813;
    transition: ease 0.5s;
  }

  
  .article-reference {
    margin-top: 15px;
  }
  .article-reference a {
    color: #191919;
  }


.pregs {
    color: white;
    font-weight: 200;
    text-align: center;
    padding-top: 1em;
}